.tree {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  border: 0;
}

.tree:nth-of-type(1) {
  right: -100px;
}

.tree:nth-of-type(2) {
  position: relative;
  right: -50px;
}

.tree:nth-of-type(3) {
  right: 0px;
}

.tree:nth-of-type(4) {
  right: 50px;
}

.tree:nth-of-type(5) {
  right: 100px;
}

.tree:nth-of-type(6) {
  right: 150px;
}

.tree:nth-of-type(7) {
  right: -100px;
}

.tree:nth-of-type(8) {
  right: -50px;
}

.tree:nth-of-type(9) {
  right: 0px;
}

.tree:nth-of-type(10) {
  right: 50px;
}

.tree:nth-of-type(11) {
  right: 100px;
}

.tree:nth-of-type(12) {
  right: 150px;
}

.tree:hover {
  animation: shake 0.5s;
  transition: 0.5s;
}
