.bulldozer-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .bulldozer {
    width: 400px;
    height: 400px;
    transform: translateX(-50%);
  }
  .bulldozer-left {
    left: -200px;
  }
  .bulldozer-right {
    right: -200px;
  }