.bulldozer {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}

.bulldozer-left {
    transform: translateX(-100%);
}

.bulldozer-right {
    transform: translateX(100%);
}

.animate {
    animation: animate 10s infinite reverse;
}

