/* Set up the overall layout */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(#45bd3a, #08500e);
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
}

/* Set up the styles for each section */
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.paragraph {
  background-color: white;
  border-radius: 15px;
  padding: 50px;
}

.text {
  font-size: 1.5rem;

}

span {
  color: white;
  font-weight: 600;
}

.red {
  color: red;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.scrolled {
  opacity: 0;
  transform: translateY(20px);
  animation: scroll 6s forwards;
}

.bulldozer-container {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: start;
}

.bulldozer {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  transition: transform 4s linear;
  transition-delay: 2s;
}

.bulldozer:nth-child(1) {
  left: 0;
}

.bulldozer:nth-child(2) {
  left: -250px;
}

.bulldozer:nth-child(3) {
  left: -500px;
}

.animate {
  animation: bulldozer-move 6s ease-in-out forwards;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(10px)
  }
}

@keyframes bulldozer-move {
  from {
    transform: translateX(-100px);
  }

  to {
    transform: translateX(200%);
  }
}